# Terraform state
#*.tfstate
#*.tfstate.*

# Carpeta de trabajo local de Terraform
#.terraform/

# Variables sensibles
#terraform.tfvars
#*.auto.tfvars

# Ignorar archivos y carpetas generadas por Terraform
.terraform/
#terraform.tfstate
terraform.tfstate.backup
#*.tfstate
#*.exe

# Terraform sensitive files
#*.tfstate
#*.tfstate.backup
#.terraform/

